* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    background-color: #02152b;
}

body {
    font-family: roboto;
    background-color: #02253d;
    color: white
}
nav ul {
    float: right;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 2em;
}

p {
    font-size: 1.15em;
}

nav ul li {
    display: inline-block;
    background-color: white;
    margin: 2px;
    padding: 6px;
    width: 5rem;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
}
nav ul li a {
    text-decoration: none;
    font-size: 0.8em;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

nav ul li:hover {
    transform: scale(1.05);
    transition: 120ms;
}

nav ul li:active {
    transform: scale(1);
    transition: 60ms;
}

.logo {
    max-height: 90px;
    margin-left: 10px;
    margin-top: 5px;
}

.container {
    max-width: 1400px;
    margin: auto;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://my-thai.org/wp-content/uploads/181219_10151002661421620_1985654398_n.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#historia .container {
    text-align: justify;
    padding: 100px 12px;
    background-color: #02152b;
    max-width: none;
}

#historia h2 {
    text-align: center;
}

#tecnicas {
    text-align: justify;
}

#tecnicas h2 {
    text-align: center;
}

#tecnicas h3 {
    text-align: center;
}

#tecnicas .container {
    padding: 100px 12px;
}

#leyendas {
    background-color: #02152b;
    text-align: center;
    padding-bottom: 100px;
}

#leyendas .carta {
    background-position: center center;
    background-size: cover;
    text-align: justify;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

#leyendas h3 {
    padding-top: 20px;
    padding-bottom: 0;
}

.carta:first-child {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.tapology.com/letterbox_images/150092/default/Saenchai.jpg?1606284356);
    
}

.carta:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/ex415m.jpg);
}

.carta:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://blog.revgear.com/wp-content/uploads/2018/10/Dieselnoi-3-.jpg);
}

@media (max-width:384px) {
    nav ul li {
        display: inline-block;
        background-color: white;
        margin: 1px;
        padding: 4px;
        width: 4.5rem;
        text-align: center;
        border-radius: 5px;
        margin-right: 10px;
    }   

    nav ul li a {
        text-decoration: none;
        font-size: 0.7em;
        font-family: sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        color: black;
 }
}

@media (max-width:719px) {
    #tecnicas .container {
        padding-top: 100px;
        padding-right: 12px;
        padding-bottom: 0px;
        padding-left: 12px;
    }
}

@media (min-width:720px) {
    header {
        position: fixed;
        width: 100%;
    }

    #hero h1{
        font-size: 3em;
    }

    #historia .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #historia h2 {
        text-align: initial;
    }
    #historia .texto {
        width: 80%;
        text-align: initial;
        padding: 0px 20px;
        max-width: 700px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #historia .img-container {
        background-image: url(images/—Pngtree—thailand\ wavy\ grunge\ flag\ png_6632919.png);
        background-size: cover;
        background-position: center center;
        height: 200px;
        width: 300px;
    }

    #tecnicas .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #tecnicas .texto {
        width: 80%;
        text-align: initial;
        padding: 0px 20px;
        max-width: 700px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #tecnicas h2 {
        text-align: initial;
    }

    #tecnicas h3 {
        text-align: initial;
    }

    #tecnicas .img-puño {
        background-image: url(images/muay-thai-nose-shot.jpeg);
        background-size: cover;
        background-position: center center;
        height: 200px;
        width: 400px;
    }

    #tecnicas .container-codo {
        display: flex;
        padding: 100px 12px;
        justify-content: space-evenly;
        align-items: center;
        background-color: #02152b;
    }
    #tecnicas .texto {
        width: 80%;
        text-align: initial;
        padding: 0px 20px;
        max-width: 700px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #tecnicas h3 {
        text-align: initial;
    }

    #tecnicas .img-codo {
        background-image: url(images/Muay-Thai-Elbow-Techniques-.jpeg);
        background-size: cover;
        background-position: center center;
        height: 200px;
        width: 400px;
        }

    #tecnicas .container-rodilla {
        display: flex;
        padding: 100px 12px;
        justify-content: space-evenly;
        align-items: center;
    }
    #tecnicas .texto {
        width: 80%;
        text-align: initial;
        padding: 0px 20px;
        max-width: 700px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #tecnicas h3 {
        text-align: initial;
    }

    #tecnicas .img-rodilla {
        background-image: url(images/onefc-muay-thai-clinch-knee.jpg);
        background-size: cover;
        background-position: center center;
        height: 200px;
        width: 400px;
        }

#tecnicas .container-piernas {
        display: flex;
        padding: 100px 12px;
        justify-content: space-evenly;
        align-items: center;
        background-color: #02152b;
    }
    #tecnicas .texto {
        width: 80%;
        text-align: initial;
        padding: 0px 20px;
        max-width: 700px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #tecnicas h3 {
        text-align: initial;
    }

    #tecnicas .img-piernas {
        background-image: url(images/Muay-Thai-Kicks-1-1024x1024.jpg);
        background-size: cover;
        background-position: center center;
        height: 200px;
        width: 400px;
    }

    #leyendas .cartas-leyendas {
        display: flex;
        justify-content: center;
    }

    #leyendas p {
        display: block;
    }

    #leyendas .carta {
        padding: 50px;
    }

    
}    